name: Pre-Commit Check

on: [push, pull_request]

jobs:
  pre-commit-check:
    runs-on: ubuntu-latest
    if: |
      ${{ github.event_name == 'push' && github.event.pull_request.head.repo.fork == false }} ||
      ${{ github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork == true }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pre-commit
          pre-commit install
      - name: Run pre-commit
        run: pre-commit run --all-files
